name: Lint and Unit Test

on:
  pull_request:
  
defaults:
  run:
    shell: bash

env:
  CT_CHART_DIRS: "."
  CHART_NAME: "ignition"

jobs:
  lint-and-unittest:
    name: Lint Chart and Run Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0   # ct needs full history to detect changed charts

      - name: Merge with target branch
        run: |
          git fetch origin ${{ github.event.pull_request.base.ref }} --depth=1
          git merge --no-ff FETCH_HEAD
          ls -la

      - name: Install helm-unittest plugin
        run: |
          helm plugin install https://github.com/helm-unittest/helm-unittest --version v1.0.3
          helm plugin list

      - name: helm-unittest (all changed charts)
        run: |
          helm unittest "${CHART_NAME}"

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2

      - name: ct lint
        run: |
          ct lint --all

      - name: Package Helm Chart (unsigned)
        run: |
          mkdir build
          helm package --destination build "${CHART_NAME}"

      - name: Render simple summary with GH hash to build/SUMMARY.md
        run: |
          cat << EOF > build/SUMMARY.md
          # Build Summary

          - Chart: ${CHART_NAME}
          - Build Date: $(date -u +"%Y-%m-%dT%H:%M:%SZ")
          - Commit: ${GITHUB_SHA}
          - Pull Request: ${GITHUB_SERVER_URL}/${GITHUB_REPOSITORY}/pull/${{ github.event.pull_request.number }}
          - Workflow Run: ${GITHUB_SERVER_URL}/${GITHUB_REPOSITORY}/actions/runs/${GITHUB_RUN_ID}
          EOF

      - name: Artifact Packaged Chart
        uses: actions/upload-artifact@v6
        with:
          name: chart-build
          path: build/
          retention-days: 30
